header {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: lightgray;
}
body{
    background-color: #000000;
}
.bg-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    font-family: "Marker Felt";

    color: #b1b2ee;
    font-weight: bold;
//border-radius: 10px;
//border: 3px solid white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}